<% include ../partials/header %>

	<h2>Sign up for Countries Website</h2>
		<a href="/signup">Signup</a>
		<br> 
		<!-- // br tags are a terrible thing -->
		<a href="/login">Login</a>

<% include ../partials/footer %>